.instructors{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 490px) {
    .instructors{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 776px){
    .instructors{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 992px){
    .instructors{
        grid-template-columns: repeat(4, 1fr);
    }
}